<div class="lister-container">
    <div class="lister-header">
        <h1 class="lister-title">Lista de produtos</h1>
        <button class="lister-button" type="button" data-toggle="modal" data-target="#productModal"> + Cadastrar produto</button>
    </div>
        <ul class="products-container">
            <li class="product-element">
                <div class="product-listed">
                    <section class="products-details">
                        <h4 class="product-name">NomeProduto</h4>
                            <div>
                                <p>Price: R$12.3</p>
                                <p>Amount: 123</p>
                            </div>
                    </section>
                    <div class="list-actions">
                        <button class="product-button see" type="button">Ver</button>
                        <button class="product-button edit" type="button" data-toggle="modal" data-target="#productModal">Editar</button>
                        <button class="product-button delete" type="button">Excluir</button>
                    </div>
                </div>
            </li>
        </ul>
</div>
