<div class="login-container">
    <form class="login-form">
        <h1 class="login-title">Cadastre-se</h1>
        <div class="login-input-container">
            <label for="name" class="login-label">Nome</label>
            <input name="name" class="login-input" type="text" placeholder="Seu nome">
            <label for="login" class="login-label">Usuário</label>
            <input name="login" class="login-input" type="text" placeholder="Nome de usuário">
            <label for="password" class="login-label">Senha</label>
            <input name="password" class="login-input" type="password" placeholder="Senha">
            <label for="confirmPassword" class="login-label">Confirme sua senha</label>
            <input name="confirmPassword" class="login-input" type="password" placeholder="Confirme sua senha">
            <label for="document" class="login-label">Cpf</label>
            <input name="document" class="login-input" type="text" placeholder="insira o seu Cpf">
        </div>
        <button class="login-button" type="submit">Cadastrar</button>
        <div class="error-texts">
        </div>
        <p class="captive-text">Já possui uma conta? <a class="captive-link">Autentique-se</a>!</p>
    </form>
</div>
