<div class="login-container">
    <form class="login-form">
        <h1 class="login-title">Autentique-se</h1>
        <div class="login-input-container">
            <input class="login-input top" type="text" placeholder="Nome de usuário">
            <input class="login-input bottom" type="password" placeholder="Senha">
        </div>
        <button class="login-button" type="submit">Login</button>
        <div class="error-texts">
        </div>
        <p class="captive-text">Não possui uma conta? <a class="captive-link">Cadastre-se</a></p>
    </form>
</div>
