header{
    padding: .5em 1em;
    background-color: #03a5fc;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

@keyframes slideDown {
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0);
    }
}

header:not(:focus){
    animation: slideDown .5s ease;
}

h1{
    line-height: 5px;
}

button{
    border: none;
    background-color: #03a5fc;
    transition: all .3s ease-in-out;
    outline: .5px solid #ffffff;
    border-radius: .5em;
    padding: 1em;
    color: #ffffff;
    font-weight: bolder;
}

button:hover{
    background-color: #fff;
    cursor: pointer;
    color: #03a5fc;
}