/* "FOG" do modal */

@keyframes fader {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.modal-fog{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-fog:not(:focus){
    animation: fader .3s ease-in-out;
}

/* Modal */

.modal{
    background-color: #fff;
    width: 85%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: calc(50vh - 200px);
    padding: 1em;
    border-radius: .5em;
}

@keyframes scaleUp{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }    
}

.modal:not(:focus){
    animation: scaleUp .5s ease-in-out;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h1{
    font-size: 18px;
}

.modal-close{
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
}

.modal-body{
    padding: 1em 0;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

label{
    line-height: 1.5em;
}

input{
    padding: .5em;
    border: none;
    outline: 1px solid #ccc;
    border-radius: .5em;
    transition: all .3s ease-in-out;
    margin-bottom: 1em;
}

input:focus{
    outline: 1px solid #000;
}

.form-submit{
    padding: .8em;
    border: none;
    outline: none;
    border-radius: .5em;
    background-color: #03a5fc;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.form-submit:hover{
    background-color: #0483d9;
    box-shadow: #000 0px 0px 1px;
}