<div class="modal-fog">
    <div class="modal">
        <div class="modal-header">
            <h1 class="modal-title">Cadastrar produto</h1>
            <button class="modal-close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="modal-form">
                <label for="productName">Nome do produto</label>
                <input type="text" name="productName" placeholder="Nome do produto">
                <label for="productDescription">Descrição do produto</label>
                <input type="text" name="price" placeholder="Valor unitário">
                <label for="price">Valor unitário</label>
                <input type="text" name="amountDisposable" placeholder="Quantidade disponível">
                <label for="amountDisposable">Quantidade disponível</label>
                <input type="text" name="vendorName" placeholder="Nome do fornecedor">
                <label for="vendorRegistration">Nome do fornecedor</label>
                <input type="text" name="vendorRegistration" placeholder="CNPJ do fornecedor">
                <button type="submit" class="form-submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
